@media (min-width: 550px) {
    .btn-menu{
        display: none;
    }

    .menu-list-container{
        display: block;
    }

    .menu-list{
        display: flex;
        list-style: none;
    }

    .menu-list li{
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        padding: 20px;
        cursor: pointer;
    }

    .menu-list li a{
        text-decoration: none; 
        color: var(--white-color); 
        display: block; 
        border-radius: 5px;
    }

    .menu-list li:hover{
        border-bottom: 1px solid #777;
    }

    .modal-menu-container{
        display: none;
    }
}

@media (min-width: 550px) and (max-width: 800px) {
    #form{
        width: 100%;
    }
    .name-container,
    .email-container,
    .message-container{
        max-width: 600px;
    } 

    .ul_pages-list li a{
        font-size: 1.5rem;
    }

    #send-button{
        width: 30%;
    }
}

@media (min-width: 800px){
    
    
    .form-container{
        max-width: 90%;
        transform: translateX(6%);

    }

    #form{
        width: 85%;
    }
    .name-container,
    .email-container,
    .message-container{
        max-width: 1100px;
    } 

    .ul_pages-list li a{
        font-size: 2rem;
    }
}

