@media (min-width: 550px) and (max-width: 800px) {
    
    
    .types{
        font-size: 14px;
    }

    .pokemon-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pokemon-card-background{
        width: 45%;
        margin: 10px;
    }

    .pokemon-card{
        width: 100%;

    }

    .inferior-info-card .poke-id,
    .inferior-info-card .poke-name{
        font-size: 2vw
    }

    .poke-type span{
        font-size: 2.3vw;
    }

    .button-info{
        font-size: 2vw;
    }

    
    
}

